div {
    width: 400px;
    height: 200px;
    border: 10px dashed red;
    margin: 20px auto;
}

.second {
    background-image: url(Max_and_the_sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}